PORT=4000
CLIENT_URL=http://localhost:5173
MONGODB_URI=mongodb+srv://admin:Ky05d89327H4lrUv@zigme-mongo-cluster1-fb799a0c.mongo.ondigitalocean.com/zigme_blogs?tls=true&authSource=admin&replicaSet=zigme-mongo-cluster1
DNS_SERVERS=8.8.8.8,1.1.1.1
OPENAI_API_KEY=
BLOG_MODEL=gpt-4.1
POSTMARK_SERVER_TOKEN=
MAIL_FROM=no-reply@zigme.in
APPROVAL_EMAIL=manish@zigme.in
